.container {
	--background: var(--container-bg-color-default);

	&.bg-blue {
		--background: var(--container-bg-color-blue);
	}

	&.nobg {
		--background: transparent;
	}

	.app-card-header {
		.app-card-title {
			font-size: 1.6rem;
			line-height: 2rem;
			color: var(--container-label-color);
		}
	}

	.app-card-content {
		display: flex;
		gap: 1rem;
		flex-direction: column;

		& > .item {
			margin: 0;
			font-size: 1.2rem;
			line-height: 1.6rem;
			color: var(--ion-text-color);
			border: 0;

			& > strong {
				display: block;
				font-size: 0.9rem;
				line-height: 1.1rem;
				font-weight: 400;
				color: var(--container-label-color);
			}
		}

		& > .app-grid {
			width: 100%;

			& > .app-grid__row {
				& > .app-grid__col.item {
					& > .label {
						margin: 0;
						font-size: 1rem;
						line-height: 1.2rem;
						color: var(--ion-text-color);
					}

					& > .value {
						margin: 0;
						font-size: 2rem;
						line-height: 2rem;
						color: var(--ion-text-color);
					}

					&.right {
						text-align: right;
					}
				}
			}
		}
	}
}
