.wizard {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	margin: var(--content-margin);
	padding: var(--content-padding);
	width: var(--content-width);
	max-width: var(--content-max-width);

	& > .form {
		flex: 1;

		h1 {
			font-size: 2.5rem;
		}

		p.text {
			margin: 0 0 1rem;
			font-size: 1.125rem;
			line-height: 1.5rem;
		}

		& > p.address {
			margin: 0 0 1rem;
			padding: 0.25rem 0.5rem;
			border: 1px solid var(--app-border-color);
			border-radius: 0.35rem;
			font-size: 0.7rem;
			line-height: 1.2rem;
			text-align: center;
			cursor: pointer;
		}

		.port {
			display: flex;
			gap: 1rem;
			margin: 0 0 1.5rem;
			padding: 0 0 0 1rem;

			& > .checkmarkcross {
				margin: 0;
				padding: 0;
				width: 2rem;
				height: 2rem;
			}

			& > .text {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;

				& > .label {
					margin: 0;
					padding: 0;
					font-size: 1.125rem;
					line-height: 1.5rem;
					color: var(--text-color-normal-light);
				}

				& > .value {
					margin: 0;
					padding: 0;
					font-size: 1.125rem;
					line-height: 1.5rem;
					font-weight: 300;
				}
			}
		}

		& > .retry-block {
			& > .text {
				margin: 0 0 0.5rem;
				font-size: 0.8rem;
				line-height: 1.2rem;
				color: var(--wizard-color-error);
			}
		}

		& > .mnemonic {
			& > .ui-textarea-field {
				--padding-end: 1rem;
				--padding-start: 1rem;

				border: 1px solid var(--app-border-color);
				border-radius: 5px;

				// min-height:10rem;
			}

			&.word-list {
				display: flex;
				margin: 0 0 1.5rem;
				padding: 0;
				list-style: none;
				flex-flow: row wrap;
				align-content: flex-start;
				gap: 0.35rem;

				& > li {
					margin: 0;
					padding: 0.25rem 0.5rem;
					border: 1px solid var(--app-border-color);
					border-radius: 0.35rem;
					font-size: 0.9rem;
					line-height: 1.2rem;
				}
			}
		}

		& > .backup-alert {
			margin: 0 0 1.5rem;
			padding: 1rem;
			border-radius: 1rem;
			background: var(--app-background-color-alert);

			& > h2 {
				margin: 0 0 0.5rem;
				font-size: 1.1rem;
				line-height: 1.4rem;
				color: var(--text-color-normal-light);
			}

			& > p {
				margin: 0;
				font-size: 0.8rem;
				line-height: 1rem;
				color: var(--text-color-normal-light);
			}
		}

		& > .caption {
			font-size: 0.8rem;
			line-height: 1rem;
			color: var(--text-color-warning-light);
		}
	}

	& > .submit {
		padding: 0 0 0.5rem;
	}
}
